@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h5 class="display-4">start orgnizing your tasks and stay productive</h5>
    <h5 class="display-4">Get Started by creating your first to-do item </h5>
    <a href="/Todoitems/add">    <button class="btn btn-primary">create new to do item </button></a>

 
</div>
