<form id="myForm" method="get" action="/Todoitems/add_user">
    <div class="form-group">
        <label for="exampleInputName"> enter your name</label>
        <input type="text" class="form-control" id="exampleInputName" name="name" required placeholder="">
    </div>
   
    <button  type="submit" class="btn btn-primary">Submit</button>
</form>

@*href="/Todoitems/items"*@